include _general_mixins.jade

doctype html
html
  head
    title
      block title
        | Swan Admin
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    link(rel='stylesheet', href='#{mountPoint}/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='#{mountPoint}/stylesheets/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='#{mountPoint}/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  body
    .container
      .row
        .col-sm-9
          block content
        .col-sm-3
          +sidebar(models)
    
    script(src='#{mountPoint}/javascripts/bootstrap.min.js')
    script(src='#{mountPoint}/javascripts/moment.min.js')
    script(src='#{mountPoint}/javascripts/bootstrap-datetimepicker.min.js')
    script(src='#{mountPoint}/javascripts/marked.js')